body .site {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto 1fr;
  grid-template-areas: "h h h h h h h h h h h h"
  "c c c c c c c c c c c c"
  "f f f f f f f f f f f f";
}

body .site header {
  grid-area: h;
  background: #587B7F;
  display: grid;
  grid-template-columns: 1fr auto 2fr 7fr;
  grid-template-areas: ". l . n";
}

body .site header nav {
  grid-area: n;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: "home sale contact about";
}

body .site header nav .active_page {
  border-top: 7px solid #9FFFCB;
}

body .site header nav .link {
  color: #E6E6E6;
  text-decoration: none;
  text-align: center;
  font-family: "Oswald";
  font-size: 2.3rem;
}

body .site header nav .link:hover {
  color: #e6a62c;
}

body .site header nav #home {
  grid-area: home;
}

body .site header nav #forsale {
  grid-area: sale;
}

body .site header nav #contact {
  grid-area: contact;
}

body .site header nav #about {
  grid-area: about;
}

body .site header .logo {
  grid-area: l;
  max-width: 380px;
}

body .content {
  height: 1000px;
  background-position: center;
  width: 100%;
  grid-area: c;
}
